footer{
    background-color: #04172A;
    ;
}
.fb{
    /* fin:fb icon */
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.ig{
    /* fin:ig icon */
    background-color: #04172A;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
} 
.mail{
     /* fin: icon  */
    background-color: #04172A;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
} 

